---
---
@import "portfolYOU";

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

body { font-family: "Montserrat"; }
[data-theme="dark"] body { background-color: #000; background-image: radial-gradient(circle farthest-side at top, #1e2024, #000); background-repeat: no-repeat; }
p { font-size: 15px; font-weight: 200; text-align: justify; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-weight: 700; color: #FFF; }
.h1 { font-size: 3rem;}
.h2 { font-size: 2.5rem;}
.h3 { font-size: 2rem;}

a { color: #0996b4; }
a:hover { color: #FFF; text-decoration: none; }
[data-theme="dark"] .text-themed { color: #fff; }

.nav-container { background-color: #000; border-bottom: 1px solid #191919; margin-bottom: 2rem; }
.navbar { padding: 1.5rem 2rem; margin-left: auto; margin-right: auto; }
.navbar-brand { margin-bottom: 0px; }
.navbar-brand::after { display: none; }
.nav-link { font-size: 22px; text-align: right; font-weight: 200; }
.link-after, .nav-link::after, .navbar-brand::after, .nav-item.active::after { content: none; }
.navbar-themed .navbar-nav .nav-link.active, .navbar-themed .navbar-nav .nav-link:hover { color: #fff; }
#theme-toggler { display: none; }
.mt-5 { margin-top: 0px !important; }
.container .content { padding: 0 15px; }

.post.card.border { border: 1px solid #1c1c1c !important; border-radius: 8px; background-color: #0f0f0f; overflow: hidden; }
a.post.card.border:hover { background-color: #242526; }
a.post.card.border:hover .card-image img { filter: brightness(1.25); transform: scale(1.05); }
.card-icons { position: absolute; z-index: 1; margin: -8px; }
.card-icons .card-icon { background: #000; padding: 4px !important; border-radius: 6px; }
.card-image { margin-left: -15px; margin-right: -15px; margin-top: -15px; overflow: hidden; }
.card-image img { width: 100%; transition: transform 0.15s ease; }
.card-meta { font-size: 12px; font-weight: 100; }
.card-meta span { margin-right: 5px; }
.card.border .card-footer { border: 0px; }

.post-image img { border-radius: 8px; }
.post-metadata { font-size: 15px; margin-top: 0px; }
.post-metadata:hover { background-color: #242526; }
.post-metadata .badge { font-size: 85%; background-color: #0f0f0f; padding: 8px; border-radius: 6px; border-color: #1c1c1c !important; }

footer.py-3 { padding: 2rem 0 !important; background-color: #000; border-top: 1px solid #191919; }
footer.py-3 { padding: 2rem 0 !important; background: none; border: none; }
footer a { color: #999; }



@media (min-width: 992px) {
  .navbar-expand-lg { max-width: 960px; }
  .col-lg-6 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-lg { max-width: 1140px; }
}