---
---
@import "portfolYOU";

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

body { font-family: "Montserrat"; }
[data-theme="dark"] body { background-color: #090b0d; background-image: radial-gradient(circle farthest-corner at top, #1e2024, #000); }
p { font-weight: 200; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-weight: 600; }
a { color: #0996b4; }
a:hover { color: #FFF; text-decoration: none; }

.mt-5 { margin-top: 0px !important; }
.navbar { padding: 2.5rem 1rem; }
.navbar-brand { margin-bottom: 0px; }
.navbar-brand::after { display: none; }
.nav-link { font-size: 22px; }
.link-after, .nav-link::after, .navbar-brand::after, .nav-item.active::after { content: none; }
.navbar-themed .navbar-nav .nav-link.active, .navbar-themed .navbar-nav .nav-link:hover { color: #0996b4; }
#theme-toggler { display: none; }

.post.card.border { border: none !important; background-color: #1c1d1e; }
a.post.card.border:hover { background-color: #242526; }

footer.py-3 { padding: 2rem 0 !important; background-color: #000; border-top: 1px solid #191919;  }