---
---
@import "portfolYOU";

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

body { font-family: "Montserrat"; }
[data-theme="dark"] body { background-color: #090b0d; }
p { font-weight: 200; }
.mt5 { margin-top: 1rem !important; }
.navbar-brand::after { display: none; }
.nav-link { font-size: 22px; }
#theme-toggler { display: none; }

.post.card.border { border: none; }

#attribution { writing-mode: initial; transform: none; position: inherit; }